@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    /* font-family: 'Grand Hotel', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.imgsec img{
    width: 16rem;
    height: 16rem;
    border-radius:  12px 12px 12px 12px;
}
.btn1{
    background-color: #64CC90;
    color: #ffffff;
    width: 8rem;
    height: 45px;
    border: #64CC90;
    border-radius: 22px 22px 22px 22px;
    font-size: 20px;
    font-weight: 600;
}
.btn1:hover{
    background-color: orangered;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
.prof{
    height: 37px;
    width: 37px;
    border-radius: 50%;
}
#cardstory{
    border: 10px 10px 10px 10px;
    margin-left: 2rem;
}
.authorimg{

    height: 35px;
    width: 35px;
    border-radius: 50%;

}
.storysec img{
    width: 25rem;
    border-radius: 10px 10px 10px 10px;
    height: 15rem;


}
