{% extends 'hood/layout.html' %} 

{% block content%}


      
<div class="container-fluid">
  <div class="row px-1 py-4">
    <div class="col-md-2">
      
      <div class="card" style="width: 18rem;">
        <div class="card-header bg-info">
          <h3 class="text-white w-bold">{{neibdetails.name}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="iconify" data-icon="bxs:contact" style="color: #64cc90;" data-width="22" data-height="22"></span>~{{neibdetails.hospital_num}}</li>
          <li class="list-group-item"><span class="iconify" data-icon="bxs:contact" style="color: #64cc90;" data-width="22" data-height="22"></span>~{{neibdetails.police_num}}</li>

        </ul>
        <a class="btn btn-success btn-block btn-md " href="" data-bs-toggle="modal" data-bs-target="#biz">Add business</a>

      </div>
        <div class="py-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
          <h3>Neighbourhood updates</h3>
          </div>
          <ul class="list-group list-group-flush " id="ul">
            <li class="list-group-item">
                <a href="{% url 'hood:updates' %}" id="links">All</a>
            </li>
            {% for category in category %}
            <li class="list-group-item">
                <a href="">{{category.category_name}}</a>
            </li>

            {% endfor %}
         
        
            
            

          </ul>
        </div>
      </div>
     </div>
     

     <div class="col-md-10">
      <div class="row px-4">
        {% for business in business %}
        <div class="col-md-6 d-flex py-4">
          <div class="imgsec">
            <img src="{{business.image.url}}" alt="" srcset="">
          </div>
          <div class="desc px-4">
            <h3>{{business.name}}</h3>
            <p><span class="iconify" data-icon="carbon:location-filled" style="color: #64cc90;" data-width="20" data-height="20"></span>~<strong>{{business.neighbourhood}}</strong></p>

            <p>{{business.description}}</p>
            <p><span class="iconify" data-icon="ic:round-email" style="color: #64cc90;" data-width="20" data-height="20"></span>~<strong style="font-style: italic;">{{business.email_address}}</strong></p>

            <a href="">
              <button class="btn1" type="submit">View</button>
            </a>
          </div>
          
        </div>
        {% empty %}

        <div>
          <h3>no businesses posted yet</h3>
        </div>
        
      
        {% endfor %}
        
      </div>
     </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="biz" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Post Business</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="">Business name:</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="name">
          <label for="">Business email:</label>
          <input class="form-control" type="email" name="email_address" id="email_address" placeholder="email address" required>
          <label for="">Business description:</label>
          <input class="form-control" type="text" name="description" id="description" placeholder="description" required>
          <br>
          <label for="">Image:</label>
          <input type="file" class="form-control me-2" name="upload" id="upload">
          <br>
          <button class="btn btn-success" type="submit">Post</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
    
{% endblock  %}