{% extends 'hood/layout.html' %} 

{% block content%}

 
   


      
<div class="container-fluid" id="main">
  <div class="row px-1 py-4">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      
      <div class="card" style="width: 18rem;">
        <div class="card-header bg-info">
          <h3 class="text-white w-bold">{{neibdetails.name}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="iconify" data-icon="bxs:contact" style="color: #64cc90;" data-width="22" data-height="22"></span>~{{neibdetails.hospital_num}}</li>
          <li class="list-group-item"><span class="iconify" data-icon="bxs:contact" style="color: #64cc90;" data-width="22" data-height="22"></span>~{{neibdetails.police_num}}</li>

        </ul>

          <a href="" class="px-4 py-3" data-bs-toggle="modal" data-bs-target="#post">
            <button class="btn22" type="submit"><span class="iconify" data-icon="ant-design:plus-outlined" data-width="25" data-height="25"></span>
              Post</button>

          </a>        

      </div>
     </div>

     
     

     <div class="col-md-3 card" id="cardstory">
      <div class="row">
        {% for story in stories %}
        <div>
         <div class="str">
          <div class="author d-flex py-2 px-3">
          <img class="authorimg" src="{{story.author.profile.avatar.url}}" alt="">
          <p class="px-1 py-1">
            <strong>{{story.author.username}}</strong>
          </p>

          </div>

          
          
         </div>
         <div class="storysec px-3">
          <img src="{{story.image.url}}" alt="" srcset="">
          <h5>{{story.title}}</h5>

          <p>{{story.description | truncatewords:10}}</p>
         </div>
          
        </div>
        {% empty %}

        <div>
          <h3>no announcements</h3>
        </div>
        
      
        {% endfor %}
        
      </div>
     </div>
     

     <div class="col-md-3 px-4">
      
      <div class="card" style="width: 25rem;background-color: #F7F7F7;">
        <div class="card-header bg-info">
          <h3 class="text-white w-bold">Upcoming events</h3>
          
        </div>
        {% for event in events %}
        <div class="events px-3 py-2">
          <div class="card" id="event">
            <div class="div px-2 py-2">
              <span>
                <span class="iconify" data-icon="ci:dot-04-l" style="color: #9826ab;" data-width="30" data-height="30"></span>10:00-11:00
              </span>
              <p>
                <strong>{{event.description}}</strong>
                
              </p>

            </div>
           
            

          </div>
        </div>
        {% empty %}

        <div>
          <h3>no events</h3>
        </div>
        
        {% endfor %}
       

      </div>
      
        <div class="py-4">
        <div class="card" style="width: 25rem;">
          <div class="card-header">
          <h3>Alerts</h3>
          </div>
          {% for alert in alerts %}
          <div class="events px-3 py-2">
            <div class="card" id="event">
              <div class="div px-2 py-2">
                <span>
                  <strong>{{alert.title}}</strong>
                </span>
                <p>
                  {{alert.description | truncatewords:6}}
                  
                </p>
  
              </div>
             
              
  
            </div>
          </div>
          {% empty %}

          <div>
            <h3>no alerts</h3>
          </div>
          {% endfor %}
          
        </div>
      </div>
     </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="">Title:</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" required>

          <label for="">Description:</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" required><br>
          
          <div class="form-group m-3">
            <label>Select a category</label>
            <select name="category" class="form-control">
                <option value="none">Select category...</option>
                {% for category in categories %}
                <option value="{{category.id }}">{{  category.category_name }}</option>



                {% endfor %}
            </select>
          </div>
          <br>
          <label for="">Image:</label>
          <input type="file" class="form-control" name="upload" id="upload">
          <br>
          <button class="btn btn-success" type="submit">Post</button>
          
          
        </form>
      </div>
      
    </div>
  </div>
</div>



   
{% endblock %}
